<?xml version='1.0' encoding='UTF-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
<!--        1.配置数据库信息 必须的-->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql:///hibernate</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
<!--        2.配置hibernate信息 可选的-->
<!--        输出底层sql-->
        <property name="hibernate.show_sql">true</property>
<!--        sql格式化-->
        <property name="hibernate.format_sql">true</property>
<!--        hibernate帮创建表，需要配置-->
<!--        update：无则创建，有则更新-->
        <property name="hibernate.hbm2ddl.auto">update</property>
<!--        配置数据库方言-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
<!--        3.把映射文件放到核心配置文件中来 必须的-->
        <mapping resource="User.hbm.xml"/>
        <mapping resource="contacter.hbm.xml"/>
        <mapping resource="customer.hbm.xml"/>
    </session-factory>
</hibernate-configuration>